/* Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box; /*faz com que os inputs respeitem a largura maxima das divs pais*/
}

h1,
h2,
h3 {
  color: #222;
}

p {
  color: #777;
}

/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #232323;
  padding: 0 2rem;
}

nav {
  position: relative;
}

.logo {
  width: 50px;
  margin-top: 15px;
}

.navbar-items {
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-items a {
  color: #fafafa;
  text-decoration: none;
  transition: 0.2s;
}

.navbar-items a:hover {
  color: #aaa;
}

.default-btn {
  padding: 15px 20px;
  background-color: #22f;
  border-radius: 5px;
}

.navbar-items .default-btn:hover {
  /*o botão entrar fica mais escuro com o cursor em cima*/

  padding: 15px 20px;
  background-color: #22c;
  border-radius: 5px;
}

/* main banner */
.main-banner {
  background-image: url("../img/sugarbreadatnight.jpeg");
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  text-shadow: #111 3px 2px 3px; /*parametro padrão para sombreado*/
}

.main-banner h1 {
  font-size: 50px;
}

.main-banner p {
  font-size: 30px;
}

/* Services */
.services-container {
  padding: 5rem 0;
}

.services-container ul {
  display: flex; /*para icones um ao lado do outro*/
  width: 90%;
  margin: 0 auto;
}

.services-container li {
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.fas {
  font-size: 60px;
  margin-bottom: 15px;
}

.fa-shield-alt {
  color: #1e90ff;
}
.fa-rocket {
  color: #ffa500;
}
.fa-comments {
  color: #25d366;
}

.services-container h3 {
  /*aumenta a distancia entre o titulo e o resto do texto*/
  margin-bottom: 10px;
}

.services-container p {
  /*aumenta a distancia entre as linhas do proprio paragrafo*/
  line-height: 25px;
}

/* Prices and plans */

.pricing-container {
  padding-bottom: 5rem; /*pra afastar da proxima seção*/
  text-align: center; /*alinhar todo o texto no centro*/
}

.pricing-container h2 {
  font-size: 35px;
}

.pricing-container p {
  font-size: 20px;
}

.plans-container {
  display: flex; /*para colocar todos os planos ao lado um do outro*/
  justify-content: space-between; /*espaça as li com mesmo padrão de distancia*/
  width: 90%;
  margin: 50px auto 0; /*50px em cima, automatico nas laterais*/
}

.plan {
  flex: 1; /*todos tem o mesmo tamanho dentro do flex*/
  max-width: 275px;
  margin: 0 20px; /*afasta uma li da outra lateralmente */
}

.plan ul {
  padding: 0;
}

.plan li {
  list-style: none; /*some a bolota preta feia*/
  height: 50px;
  line-height: 50px;
  background-color: #e0f7fa;
  color: #222;
}

.plan .price {
  width: 120px;
  height: 120px;
  border-radius: 50%; /*cria um circulo*/
  background-color: #22f;
  color: #e0f7fa;
  text-align: center;
  line-height: 120px; /*pra centralizar na horizontal e vertical*/
  margin: 0 auto -50px; /*coloca o preço dentro da lista*/
  font-size: 18px;
  position: relative; /*fica por cima da lista*/
}

.plan .plan-name {
  text-transform: uppercase; /*coloca em maiusculo*/
  font-size: 20px;
  font-weight: bold; /*coloca em negrito*/
  color: #fafafa;
  background-color: #232323;
  padding: 50px 0;
}

.plan .plan-btn {
  background-color: #22f;
  color: #fafafa;
  font-size: 25px;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
}

.plan .recommended {
  background-color: #DC143C;
}
